<html>
  <body>
    
    <input
        type="number"
        class="form-control"
        id="resultado1"
        name="resultado1"
        placeholder="Escribe operando A"
        [(ngModel)]="resultado1"
      />
      <input
        type="number"
        class="form-control"
        id="resultado2"
        name="resultado2"
        placeholder="Escribe operando B"
        [(ngModel)]="resultado2"
      />
    <br>
    <button (click)="suma()"> suma </button>
    <button (click)="resta()"> resta </button>
    <button (click)="multiplicacion()"> multiplicar </button>
    
    <p>Resultado {{ resultado }}</p>
    
  </body>
</html>
